In [1]:
import pandas as pd
import numpy as np
import io
import requests
import time
import datetime

In [2]:
url = 'https://github.com/rolfbecker/MIE_2.02_WS2020_II_Exam/blob/main/data/generated/DWD/hourly/precipitation/historical/prec_ts_merged_2017.csv?raw=true'
s=requests.get(url).content
data =pd.read_csv(io.StringIO(s.decode('utf-8')))
data.head()

    time;216;1300;2483;2947;3215;4488;5468;6264;7330
0  2017-01-01 00:00:00;0.0;0.0;0.0;0.0;0.0;0.0;0....
1  2017-01-01 01:00:00;0.0;0.0;0.0;0.0;0.0;0.0;0....
2  2017-01-01 02:00:00;0.0;0.0;0.0;0.0;0.0;0.0;0....
3  2017-01-01 03:00:00;0.0;0.0;0.0;0.0;0.0;0.0;0....
4  2017-01-01 04:00:00;0.0;0.0;0.0;0.0;0.0;0.0;0....

In [3]:
cols = data.columns[0].split(';')
cols

['time', '216', '1300', '2483', '2947', '3215', '4488', '5468', '6264', '7330']

In [4]:
lisof_dic = []
for row in data['time;216;1300;2483;2947;3215;4488;5468;6264;7330']:
    dic = {}
    x = row.split(';')
    for i in range(len(cols)):
            dic[cols[i]] = x[i]
    lisof_dic.append(dic)

In [5]:
len(lisof_dic)

8760

In [6]:
processed_dataframe = pd.DataFrame(lisof_dic)

In [7]:
processed_dataframe

                     time  216 1300 2483 2947 3215 4488 5468 6264 7330
0     2017-01-01 00:00:00  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     2017-01-01 01:00:00  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     2017-01-01 02:00:00  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     2017-01-01 03:00:00  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     2017-01-01 04:00:00  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...                   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
8755  2017-12-31 19:00:00  0.4  0.1  0.0  0.1  0.0  0.0  0.0  0.0  0.0
8756  2017-12-31 20:00:00  0.7  0.7  0.2  0.3  0.0  0.4  0.0  0.0  0.2
8757  2017-12-31 21:00:00  0.1  0.9  1.3  0.3  1.2  0.5  0.0  0.0  0.2
8758  2017-12-31 22:00:00  3.2  3.2  1.8  2.3  1.4  1.0  3.5  0.0  2.9
8759  2017-12-31 23:00:00  0.6  0.6  4.5  0.9  2.9  2.6  0.9  1.9  0.1

[8760 rows x 10 columns]

In [8]:
processed_dataframe.rename(columns={'time': 'ts'}, inplace=True)

In [9]:
processed_dataframe.to_csv(r'data_file.csv', index = False)